/*make the page scroll smoothly*/
html {
    scroll-behavior: smooth;
}

/*general formatting and background image*/
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: #333;
	margin: 0;
    padding: 0;
    background-color: white;
    background-image: url(img/background_image.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
    background-attachment: fixed;

}

/* Navigation (them menu) */
nav {
    position: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
ul.topnav li {
    float: left;
}
  
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
}
  
ul.topnav li a:hover {background-color: #555;}
  
ul.topnav li.icon {display: none;}
  
/*change elements as width of screen decreases */
@media screen and (max-width:680px) {
    body {
        background-size: 100% 100%;
    }

    ul.topnav li:not(:first-child) {display: none;}
    
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
    
    header nav, #main, aside {
        float: left;
        clear: left;
        width: 100%;
        }
  
    ul.topnav.responsive {position: relative;}
    
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}

/*title page*/
.title {
    height: 560px;
    font-size: 50px;
	text-align: center;
	padding-top: 60px;
    color: #f2f2f2;
}

.titledesc {
    font-size: 20px;
}

/*header about button*/
.button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    color: #333;
}

/*container for the contents*/
.content {
    padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 20%;
    background-color: white
}

/*make profile image circular and centered*/
.circularImage {
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    max-width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
  
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*secondary header text and bottom border*/
h2 {
    background-color: white;
    font-size: 2em;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 50px;
    padding-top: 150px;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.1em;
    border-bottom-color: #gray;
}

/*tertiary header*/
h3 {
	padding-top: 30px;
    color: gray;
    font-size: 1.5em;
    margin: 10px;
}

/*paragraph*/
p {
    margin: 10px;
}

/*footer format*/
.footer {
    background-color: #333;
    padding-top: 5px;
    color: grey;
    text-align: center;
    overflow: hidden;
}